<h4>REGISTRAR PRODUCTO</h4>
<hr>
<form>

  <div>

    <div class="form_control form-group row">
      <label class="col-5 col-form-label" for="exampleFormControlSelect1">Categoría</label>
        <select class="form-group row" id="exampleFormControlSelect1">
          <option>adsfadsfadsfadsfdafdsafdasfasdf</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre Producto</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre Producto">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  <table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

</form>
